accelerate @ git+https://github.com/huggingface/accelerate.git@9964f90fd7d50577998a22f3dba8590e644d255b
aiohttp==3.8.5
aiosignal==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
ansi2html==1.8.0
appnope==0.1.3
arrow==1.2.2
asn1crypto==1.5.1
astroid==2.15.8
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bitsandbytes==0.41.1
boto3==1.24.7
botocore==1.27.7
category-encoders==2.6.2
certifi==2022.9.14
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
comm==0.1.4
configparser==5.2.0
contourpy==1.1.1
cookiecutter==1.7.3
cryptography==42.0.8
cycler==0.11.0
Cython==3.0.2
dash==2.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.13.1
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.6
distlib==0.3.8
dnspython==2.6.1
docopt==0.6.2
docstring-parser==0.15
dodgy==0.2.1
exceptiongroup==1.1.3
executing==1.2.0
Faker==25.2.0
fastjsonschema==2.18.0
filelock==3.12.4
flake8==5.0.4
flake8-polyfill==1.0.2
Flask==2.2.2
Flask-SQLAlchemy==3.0.0
Flask-WTF==1.0.1
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.2
future @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gensim==4.3.1
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.19.4
idna==3.4
imbalanced-learn==0.11.0
importlib-metadata==5.0.0
importlib-resources==6.1.0
install==1.3.5
ipython==8.15.0
ipywidgets==8.1.1
isort==5.13.2
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.1
jinja2-time==0.2.0
jmespath==1.0.0
joblib==1.2.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_core==5.3.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
keyring==23.4.0
keyrings.alt==4.1.0
kiwisolver==1.4.5
kubeconfig==1.1.1
lazy-object-proxy==1.10.0
lightgbm==4.1.0
llvmlite==0.41.0
lxml==4.7.1
macholib @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.4.1
markdown-it-py==3.0.0
markdownify==0.11.6
MarkupSafe==2.1.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
numba==0.58.0
numpy==1.23.5
openai==0.28.1
orjson==3.9.7
packaging==23.1
pandas==1.5.3
parso==0.8.3
patsy==0.5.3
pdfkit==1.0.0
peft @ git+https://github.com/huggingface/peft.git@504d3c832968358498f02b2beac032ed95ef8467
pep8-naming==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pip-api==0.0.29
pipreqs==0.4.11
platformdirs==3.10.0
plotly==5.17.0
plotly-resampler==0.9.1
pmdarima==2.0.3
poyo==0.5.0
prompt-toolkit==3.0.39
prospector==1.10.3
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pycaret==3.1.0
pycodestyle==2.9.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.16.1
pylint==2.17.7
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pymongo==4.7.2
pymongo[encryption]==4.7.2
pyod==1.1.0
pyparsing==3.1.1
PySide6==6.4.0.1
PySide6-Addons==6.4.0.1
PySide6-Essentials==6.4.0.1
pyspnego==0.11.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==6.1.1
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyvmomi==8.0.3.0.1
pywinrm==0.4.3
PyYAML==6.0
referencing==0.30.2
regex==2023.5.5
requests==2.28.1
requests_ntlm==1.3.0
requirements-detector==1.2.2
retrying==1.3.4
rich==13.6.0
rpds-py==0.10.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.6.0
safetensors==0.4.0
schemdraw==0.15
scikit-base==0.5.1
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
semver==3.0.2
setoptconf-tmp==0.3.1
shiboken6==6.4.0.1
shtab==1.6.4
six @ file:///AppleInternal/Library/BuildRoots/626bfa9c-8221-11ef-b9bf-daac7d5d70b1/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sklearn==0.0.post5
sktime==0.21.1
smart-open==6.3.0
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
SQLAlchemy-Utils==0.41.1
stack-data==0.6.2
statsmodels==0.14.0
sympy==1.12
tbats==1.1.3
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.1.0
tkcalendar==1.6.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
torch==2.1.0
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.10.1
transformers @ git+https://github.com/huggingface/transformers.git@80377eb018c077dba434bc8e7912bcaed3a64d09
trl @ git+https://github.com/lvwerra/trl.git@7d0a8eea4e01dd4d3247ea3608dec2ec8be10b34
tsdownsample==0.1.2
typing_extensions==4.12.2
tyro==0.6.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.12
virtualenv==20.26.6
waitress==2.1.2
wcwidth==0.2.6
Werkzeug==2.2.2
widgetsnbextension==4.0.9
wrapt==1.15.0
WTForms==3.0.1
wurlitzer==3.0.3
xmltodict==0.13.0
xxhash==3.3.0
yarg==0.1.9
yarl==1.9.2
yellowbrick==1.5
zipp==3.10.0
